bin/
obj/
/node_modules
/wwwroot/node_modules
.vscode/settings.json
.vscode/launch.json
.vscode/extensions.json
.history/
*.vsix
.history
.ionide
appsettings.Development.json
README.md
/.vs
MediaOrganizer.Benchmarks/BenchmarkDotNet.Artifacts/*
BenchmarkDotNet.Artifacts/*
